.git
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.phpunit.cache
.phpunit.result.cache
public/build
public/hot
